#wrapper {
    width: 500px;
    border: 1px solid black;
}
#first {
    width: 300px;
    border: 1px solid red;
}
#second {
    border: 1px solid green;
}

.center {
    text-align: center;
}

.videoRow {
	width: 200px; 
}

.video-container {
    float: left;
    display: block;
    margin-right: 8px;
	list-style-type: none;
}

p {
}

.video { 
    margin: 0 auto;
    display: block;
	width: 400px; 
}


body {
	margin:20px;
    font-family: Georgia,"Times New Roman",serif;
	font-size: 1.1em;
	color:#383838;

}
