#wrapper {
    width: 500px;
    border: 1px solid black;
}
#first {
    width: 300px;
    border: 1px solid red;
}
#second {
    border: 1px solid green;
}

.center {
    text-align: center;
}

p {
}

.video { 
	margin-left: auto;
    margin-right: auto;
    display: block;
	width: 400px; 
}


body {
	margin:20px;
    font-family: Georgia,"Times New Roman",serif;
	font-size: 1.1em;
	color:#383838;

}
